.frame {
	
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
      background: #E56262;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .circle{
      background-color: white;
      position: absolute;
      border-radius: 50%;
      transform-origin: center; 
      box-shadow: 4px 4px 16px -8px #000000;
      top: 27%;
      left: 13%;
      transform: translate(-50%, -50%) scale(0);
  }
  .one{
      width: 90px;
      height: 90px;
      animation: appear-one 4s cubic-bezier(0,0,.13,1) 1s infinite;
  }
  .two{
      width: 60px;
      height: 60px;
      animation: appear-two 4s ease-out 1s infinite;
  }
  .three{
      width: 30px;
      height: 30px;
      animation: appear-three 4s ease-out 1s infinite;
  }
  @keyframes appear-one {
      0%{
          transform :translate(-50%,-50%) scale(0);
      }
      30%{
          transform :translate(-50%,-50%) scale(1);
      }
      70%{
          transform :translate(-50%,-50%) scale(1);
      }
      100%{
          transform :translate(-50%,-50%) scale(0);
      }
  }
  @keyframes appear-two{
      10%{
          transform:translate(-50%,-50%) scale(0);
      }
      35%{
          transform:translate(-50%,-50%) scale(1);
      }
      65%{
          transform:translate(-50%,-50%) scale(1);
      }
      100%{
          transform:translate(-50%,-50%) scale(0);
      }
  }
  @keyframes appear-three{
      20%{
          transform: translate(-50%, -50%) scale(0);
  
      }
      40%{
          transform: translate(-50%, -50%) scale(1);
      }
      60%{
          transform: translate(-50%, -50%) scale(1);
      }
      80%{
          transform: translate(-50%, -50%) scale(0);
      }
  }